
<body>
    <div class="background">
        <!-- <ng-lottie [options]='options'></ng-lottie> --><img [src]="'images/metro.gif'">
    </div>
    <div class="main">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur maiores fugiat architecto saepe dolorem, doloribus, odit odio, est natus quaerat iure culpa earum esse quasi inventore debitis eveniet minus iusto?</p>
        <app-current-weather></app-current-weather>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur maiores fugiat architecto saepe dolorem, doloribus, odit odio, est natus quaerat iure culpa earum esse quasi inventore debitis eveniet minus iusto?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur maiores fugiat architecto saepe dolorem, doloribus, odit odio, est natus quaerat iure culpa earum esse quasi inventore debitis eveniet minus iusto?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur maiores fugiat architecto saepe dolorem, doloribus, odit odio, est natus quaerat iure culpa earum esse quasi inventore debitis eveniet minus iusto?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur maiores fugiat architecto saepe dolorem, doloribus, odit odio, est natus quaerat iure culpa earum esse quasi inventore debitis eveniet minus iusto?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur maiores fugiat architecto saepe dolorem, doloribus, odit odio, est natus quaerat iure culpa earum esse quasi inventore debitis eveniet minus iusto?</p>
    </div>
</body>
