$dark : #810F6A
$accent : #E44F50
$light : #E8C70C
$main : #DB9001

:host 
    width: 100vw
    height: 100vh
    align-item: center
    justify-content: center
    text-align: center 
p
    font-size: 2em
    margin: 10px auto
    color: $main
    width: 80vw
.background
    position: sticky
    top: 0
    bottom: 500px
.background img
    width: 90vw
    background: $light
    display: inline-block
.main
    width: 100vw
    background: $light
    display: flex
    justify-content: space-between
    align-item: center
    justify-content: center
    text-align: center
    position: sticky
    bottom: 100vh
.content
    width: 100vw
    background: $light
    display: block
    justify-content: space-between
    align-item: center
    justify-content: center
    text-align: center
    position: sticky

@media screen and ( max-width: 800px )
    p
        font-size: 1em
        margin: 0.8em auto
        color: $main  